<main class="container">
    <h1>Authentification</h1>
    <form novalidate>
      <div class="mb-3">
        <label for="usernameInput" class="form-label">Nom d'utilisateur</label>
        <input type="text" name="username" id="usernameInput" class="form-control" required>
        <div class="invalid-feedback">Ce champs est requis</div>
      </div>
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Mot de passe</label>
        <input type="password" name="password" id="passwordInput" class="form-control" required>
        <div class="invalid-feedback">Ce champs est requis</div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">S'authentifier</button>
      </div>
      <div id="invalidCredsMsg" class="alert alert-danger invisible mb-3">
        Votre nom d'utilisateur ou votre mot de passe sont invalides.
      </div>
    </form>

    </p>
  </main>

<script src="/login.js"></script>