<%- include('header') -%>

<main class="container">
  <br><br>
    <h1>Authentification</h1>
    <form method="post" action="/login">
      <div class="mb-3">
        <label for="usernameInput" class="form-label">Email :</label>
        <input type="text" name="email" id="usernameInput" class="form-control" required>
        <div class="invalid-feedback">Ce champs est requis</div>
      </div>
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Mot de passe</label>
        <input type="password" name="password" id="passwordInput" class="form-control" required>
        <div class="invalid-feedback">Ce champs est requis</div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">S'authentifier</button>
      </div>
      <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">Pas encore de compte ?</p>
        <button type="button" onclick="window.location.href = '/register';" class="btn btn-outline-danger">S'inscrire</button>
      </div>
      <div id="invalidCredsMsg" class="alert alert-danger invisible mb-3">
        Votre nom d'utilisateur ou votre mot de passe sont invalides.
      </div>
    </form>
</main>


<!-- <script src="/login.js"></script> -->

<%- include('footer') -%>
