<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste utilisateur</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>First Name</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < users.length; i++ ) { %>
            <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].firstname %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>