<%- include('../header') -%>
<div id="bloc_page">
    <header>
            <div id="titre-principale">
              <h1>fablab</h1>                 
            </div>
            <div id="definition">
              <h2></h2>                     
            </div>				
    </header>
    
    <nav>                                                                    
            <ul id="menu-deroulant">                                         
                <li><a   href ="#">  </a></li>                 							
                <li><a   href ="#"> </a></li>                   
                <li><a   href ="#"> </a></li>                   
                <li><a   href ="../connection.html"> se déconnecter </a></li>       
            </ul>
    </nav>

   <section>                                                                  
        <div id="article">
            
        </div>
        <div id="affichage_page">                                           
           <h2> LISTE DE MES FACTURES     <a href ="equipement_membre.html">retour </a></h2>
            <ul>                                         
              <li>numéro de la facture  1 <a   href ="detail_facture_membre.html">detail </a></li>
              <li>date de génération  </li>
              <li>montant total  </li></br>
              
              <li>numéro de la facture  2 <a   href ="detail_facture_membre.html">detail </a></li>
              <li>date de génération  </li>
              <li>montant total  </li></br>
              
              <li>numéro de la facture  3 <a   href ="detail_facture_membre.html">detail </a></li>
              <li>date de génération  </li>
              <li>montant total  </li></br>
              
                                                            
                                
            </ul>	 	 
        </div>			
        <div id="aside">                                                    
                                                 
        </div>
    </section>
    <footer>                                                                    
        <div   id="edition_lbi">
            <h2 >adresse</h2 >
            <p>
            
            </p>
        </div>
        <div   id="condition_de_vente">
            <h2>conditions de location </h2>
            <p>
               
            </p>
        </div>
        <div   id="frais_de_livraison">
            <h2>tarif</h2>
            <p>
            
            </p>
        </div>
    </footer>
  </div>
</body>
</html>