<%- include('../header') -%>


    <div id="bloc_page">
      <header>
              <div id="titre-principale">
                <h1>fablab</h1>                 
              </div>
              <div id="definition">
                <h2></h2>                     
              </div>				
      </header>
      
      <nav>                                                                    
              <ul id="menu-deroulant">                                         
                  <li><a   href ="#">  </a></li>                 							
                  <li><a   href ="#"> </a></li>                   
                  <li><a   href ="#"> </a></li>                   
                  <li><a   href ="../connection.html"> se déconnecter </a></li>       
              </ul>
      </nav>
  
     <section>                                                                  
          <div id="article">
           <a href ="../membre/modification/1">modifier vos données </a></br></br>  
           <a href ="../membre/facture/1">liste de mes factures </a></br></br>
           <a href ="../membre/utilisation/1">liste de mes utilisations </a></br></br>  			 
          </div>
          <div id="affichage_page">                                           
                  <h2> LISTE DES EQUIPEMENTS</h2>
                  <table>
                
                    
                  </table>
          </div>			
          <div id="aside">                                                    
                                                   
          </div>
      </section>
      
    </div>