<%- include('../header') -%>
<div id="bloc_page">
        <header>
		        <div id="titre-principale">
                  <h1>fablab</h1>                 
				</div>
			    <div id="definition">
			      <h2></h2>                     
                </div>				
		</header>
		
        <nav>                                                                    
		        <ul id="menu-deroulant">                                         
                    <li><a   href ="#">  </a></li>                 							
                    <li><a   href ="#"> </a></li>                   
                    <li><a   href ="#"> </a></li>                   
                    <li><a   href ="../connection.html"> se deconnecter </a></li>       
                </ul>
		</nav>
	
       <section>                                                                  
            <div id="article">
		        
            </div>
		    <div id="affichage_page">                                           
               <h1>modifier profil</h1>
	<form method="post" action="#">
        <p>
          <label for="passe">ancien mot de passe :</label><br/>
          <input type="password" name="passe" id="passe" /></br></br>		  
          <label for="passe">nouveau mot de passe :</label><br/>
          <input type="password" name="passe" id="passe" /></br></br>
		  <label for="passe">confirmer mot de passe :</label><br/>
          <input type="password" name="passe" id="passe" />
		</p>
		<p>
          <input type="submit" value="Valider" /><h3>lorsqu'on valide, on est dirigé vers voir ci-dessous</h3>
        </p>
    </form>
           <a href ="../connection.html">page connection</a></br>		 
			</div>			
            <div id="aside">                                                    
                           						  
            </div>
        </section>

</div>
    </body>
    <%- include('../footer') -%>
 </html>