<%- include('../header') -%>
<div id="bloc_page">
    <header>
            <div id="titre-principale">
              <h1>fablab</h1>                 
            </div>
            <div id="definition">
              <h2></h2>                     
            </div>				
    </header>
    
    <nav>                                                                    
            <ul id="menu-deroulant">                                         
                <li><a   href ="#">  </a></li>                 							
                <li><a   href ="#"> </a></li>                   
                <li><a   href ="#"> </a></li>                   
                <li><a   href ="../connection.html"> se déconnecter </a></li>       
            </ul>
    </nav>

   <section>                                                                  
        <div id="article">
         <a href ="modification.html">modifier vos données </a></br></br>
         <a href ="creation_manager.html">créer un équipement </a></br></br>
         <a href ="formulaire4_manager.html">créer une facture </a></br></br>
         <a href ="role_manager.html">créer un nouveau role </a></br></br>
         <a href ="utilisateur_manager.html">liste des utilisateurs</a></br></br>
         <a href ="facture_manager.html">liste des factures </a></br></br>
         <a href ="utilisation_manager.html">liste des utilisations </a></br></br>  			 
        </div>
        <div id="affichage_page">                                           
           <h2> LISTE DES EQUIPEMENTS</h2>
            <ul>                                         
                <li><a href ="edition_manager.html">  nom de l'équipement  1 </a></li>                 							
                <li> tarif à la minute de l'équipement  1  </li></br>
                <li><a href ="edition_manager.html">  nom de l'équipement   2 </a></li>                 							
                <li> tarif à la minute de l'équipement   2 </li>					
            </ul>	 
        </div>			
        <div id="aside">                                                    
                                                 
        </div>
    </section>
    <footer>                                                                    
        <div   id="edition_lbi">
            <h2 >adresse</h2 >
            <p>
            
            </p>
        </div>
        <div   id="condition_de_vente">
            <h2>conditions de location </h2>
            <p>
               
            </p>
        </div>
        <div   id="frais_de_livraison">
            <h2>tarif</h2>
            <p>
            
            </p>
        </div>
    </footer>
  </div>
</body>
</html>